ul {
  list-style-type: none;
}
h2 span {
  font-size: 1.45rem;
  font-style: italic;
  color: grey;
}

header{
  margin-left: 2.5em;
  margin-bottom: 5em;
}

section{
  margin-bottom: 5em;
}
.experience h2 span {
  margin-left: 5rem;
}

.experience p {
  max-width: 75%;
}